/* *****************
   Global Style
   ***************** */

body {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.container {
    min-width: 900px;
}

.hide {
    display: none;
}

.row {
    padding: 10px;
    min-height: 35px;
}

.row.filter {
    float: left;
}

.sorting button:hover,
.sorting button.active {
    background: #a9a9a9;
    text-decoration: none;
}

li.entry {
    -webkit-padding-start: 0px;
    list-style-type: none;
    padding-top: 20px;
}

.entry {
    clear: both;
}

.entry input,
.entry label,
.entry .date,
.entry .title,
.entry .priority,
.entry .description,
.entry .edit {
    float: left;
}

.entry label {
    width: 180px;
}

.entry .date {
    width: 200px;
}

.entry .title {
    font-weight: bold;
    width: 400px;
}

.entry .priority,
.entry .edit {
    width: 200px;
    text-align: right;
}

.entry .status {
    padding-top: 20px;
    clear: both;
}

.entry .description {
    width: 400px;
    padding-bottom: 40px;
    max-height: 50px;
}

a.less {
    display: none;
}

.edit .row {
    clear: both;
}

.edit label,
.edit input.radio {
    float: left;
}

.edit label {
    display: block;
    width: 150px;
}

.edit input.radio {
    margin-right: 6px;
}

.edit label.radio {
    display: inline;
    width: 20px;
    text-align: left;
}

.edit input[type="text"].text {
    width: 200px;
}
